server:
  port: 8081

spring:
  cloud:
    function:
      definition: eventTransform;animalTransform;animalDlqTransform
    stream:
      kafka:
        streams:
          binder:
            brokers: kafka:9092
            configuration:
              default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
              default.value.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
            auto-add-partitions: false
            auto-alter-topics: false
          bindings:
            eventTransform-in-0:
              consumer:
                application-id: event-transformer
                enable-dlq: true
                dlq-name: event-transformer-dlq
                dlq-partitions: 1
            animalTransform-in-0:
              consumer:
                application-id: animal-transformer
                enable-dlq: true
                dlq-name: animal-transformer-dlq
                dlq-partitions: 1
            animalDlqTransform-in-0:
              consumer:
                application-id: animal-dlq-transformer
                configuration:
                  max.poll.records: 10
      bindings:
        eventTransform-in-0:
          destination: dbserver1.public.event
        eventTransform-out-0:
          destination: event-details
        animalTransform-in-0:
          destination: dbserver1.public.animal
        animalTransform-out-0:
          destination: animal-details
        animalDlqTransform-in-0:
          destination: animal-transformer-dlq
          consumer:
            auto-startup: false
        animalDlqTransform-out-0:
          destination: animal-details
          producer:
            auto-startup: false

app:
  service:
    url: http://app:8080
